# Environments
.env
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# VSCode / IDE
.vscode/
.idea/

# DO NOT IGNORE db.sqlite3 because Vercel needs it to serve read-only data!
# db.sqlite3
